ul {
  list-style-type: none;
}

.body {
  font-family: Verdana, sans-serif;
}

h4 {
  text-align: center;
}

#calendarContainer {
    display: grid;
    grid-template: repeat(3,1fr) 0.5fr repeat(auto-fit,1fr) / repeat(7,1fr);
    /*border: 5px solid red;*/
    max-height: 800px;
    margin: 5px;
    background: #F5F5F5;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: orange;
    text-align: center;
    grid-area: 1 / 1 / 4 / 8;
    /*border-radius: 3px;*/
    /*border: 5px solid red;*/
}

.month div {
    margin: 0;
    padding: 0;
}

.month div div {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.prevMonth {
    float: left;
    padding-top: 10px;
}

.nextMonth {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin-bottom: 2px;
    padding: 10px 0;
    background-color: #BEBEBE;
    color: #505050;
    text-align: center;
    /*border: solid 0.1px black;*/
}

.days {
    padding: 5px 0 0 5px;
    background: #ddd;
    margin: 2px;
    height: 80px;
    border-radius: 3px;
    /*border: 1px solid red;*/
}

.days span {
    vertical-align: top;
    font-size: 10px;
    font-weight: 500;
}

.inactive {
    background: #eee;
}

.button {
    border: none;
    outline: none;
    height: 40px;
    background: orange;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
}

.button:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
